@import "./theme.scss";

// >>> Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-radius: $border-sm;
  }
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  color: $dark-100;
}

a {
  text-decoration: none;
}

// >>> Typography
h1 {
  font-family: "Unbounded", sans-serif;
  font-size: 4.2rem;
  color: white;
  font-weight: 400;
  margin-bottom: $spacing-xl;
  text-align: center;
}

h2 {
  font-family: "Unbounded", sans-serif;
  color: #333;
  font-size: 3.2rem;
  font-weight: 400;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.6rem;
  letter-spacing: 0.4px;
  line-height: 1.4;
}

// >>> Links
.link {
  text-decoration: none;
  margin: 14px;
  color: inherit;
  font-weight: 400;
}

.link:hover {
  text-decoration: underline;
}

// >>> Layout
.container {
  margin: 0 12px;
  @media (min-width: $sm) {
    margin: 0 24px;
  }
}

.container-full {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing-3xl 0;
}

// >>> Forms
form {
  input {
    width: 100%;
    border: 2px solid $gray-200;
    padding: 12px;
    border-radius: $border-sm;
    background-color: rgba(255, 255, 255, 0.6);

    &::placeholder {
      font-size: 1.4rem;
      opacity: 0.4;
    }

    &:disabled {
      pointer-events: none;
    }
  }
  label {
    margin-bottom: 6px;
    font-size: 1.4rem;
    text-align: start;
    font-weight: 300;
  }
}
