// >>> Colors
$primary-100: #f52586;
$primary-200: #b5179e;
$gray-100: #edeffb;
$gray-200: #e2e3f2;
$dark-100: #333333;
$gradient-primary: linear-gradient(45deg, $primary-100, $primary-200);

// >>> Spacings
$spacing-xs: 2px;
$spacing-sm: 4px;
$spacing-md: 8px;
$spacing-lg: 16px;
$spacing-xl: 32px;
$spacing-2xl: 64px;
$spacing-3xl: 86px;
$spacing-4xl: 132px;
$spacing-5xl: 164px;
$spacing-6xl: 186px;

// >>> Borders
$border-sm: 8px;
$border-md: 16px;
$border-lg: 32px;
$border-xl: 64px;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Shadows
$shadow-large: 0 40px 80px rgba(0, 0, 0, 0.3);

// Transitions
$ease-smooth: cubic-bezier(0.65, 0.05, 0.36, 1);
$transition-short: 0.1s;
$transition-medium: 0.3s;
$transition-long: 0.6s;
