@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1 {
  font-family: "Unbounded", sans-serif;
  font-size: 42px;
  color: #fff;
}

h2 {
  margin: 0 0 24px 0;
  color: #333;
  font-size: 24px;
}

.link {
  text-decoration: none;
  margin: 14px;
  color: inherit;
  font-weight: 400;
}

.link:hover {
  text-decoration: underline;
}
